body {
  box-sizing: border-box;
  font-family: $font;
  // max-width: 1480px;

  .container {
    // padding: 0 calc(10.7% - 20px);
    padding: 0 20px;
    max-width: 1240px;
    margin: 0 auto;
  }

  button {
    color: $dark-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    width: 280px;
    height: 64px;
    // padding: 14px 46px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: none;
  }
}
