$main-font: "Open Sans", sans-serif;
$copyright-font: "Roboto", sans-serif;
$logo-font: "Playfair Display", serif;

$dark-blue: #112152;
$white-color: #fff;
$dark-color: #050424;
$yellow-color: #fae12c;
