.footer {
  padding: 66px 0 46px;
  text-align: center;

  .info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;

    .logo-button {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin-bottom: 70px;
        color: $white-color;
        font-family: $logo-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.48px;
      }

      img {
        height: 100px;
        width: 100px;
      }

      button {
        background: $yellow-color;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 36px;

      a {
        color: $white-color;
        font-family: $main-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      gap: 28px;
      margin-right: 134px;
    }
  }
  p {
    color: $white-color;
    font-family: $copyright-font;
  }
}

@media screen and (max-width: 560px) {
  .footer {
    padding: 24px 0;
    .info {
      flex-wrap: wrap;
      padding-bottom: 36px;
      gap: 36px;

      .logo-button {
        flex-basis: 100%;

        img {
          height: 100px;
        }

        h2 {
          margin-bottom: 24px;
        }
      }

      nav {
        gap: 12px;

        a {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
        }
      }

      .social {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        margin-right: 0;
        max-width: 110px;
      }
    }
  }
}
