.header-tel {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px;

  .connection {
    display: flex;
    align-items: center;
    gap: 36px;

    p {
      color: $white-color;

      a {
        color: $white-color;
        padding-left: 16px;
      }
    }
    button {
      background: $white-color;
    }
  }
}

.header {
  position: relative;
  margin-bottom: 8px;
  nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;

    a {
      color: $dark-color;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .header-info {
    padding-top: 120px;
    background-image: url("../images/bus.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;

    h1 {
      color: $dark-blue;
      font-size: 64px;
      font-weight: 700;
      line-height: 80px;
      letter-spacing: 1.28px;
      span {
        font-size: 40px;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: 0.8px;
      }
    }

    h1::before {
      content: "";
      position: absolute;
      height: 216px;
      top: 135px;
      right: 333px;
      width: 5987px;
      background-color: $yellow-color;
      z-index: -1;
    }

    p {
      color: $dark-color;
      width: 457px;
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 0.64px;
      margin: 64px 0 64px;
      line-height: normal;
    }
    button {
      background: $yellow-color;
    }
  }
}
