@import "fonts";
@import "common";
@import "header";
@import "footer";

// section cooperation

.cooperation {
  margin: 160px 0;
  text-align: center;

  h2 {
    color: $dark-blue;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
  }

  h3 {
    color: $dark-blue;
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.8px;
    padding: 100px 0 48px;
  }

  .steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    .step {
      max-width: 282px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: center;
      gap: 32px;

      p {
        text-align: center;
        color: $dark-color;
        line-height: 28px;
      }
    }
  }
  button {
    background: $yellow-color;
    margin: 0 auto;
  }
}

// section benefits-cooperation

.background-benefits-cooperation {
  background-image: url(../images/Ellipse.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -18%;

  .benefits-cooperation {
    padding: 80px 0 188px;

    h2 {
      color: $white-color;
      font-size: 40px;
      font-weight: 600;
      line-height: 64px;
      letter-spacing: 0.8px;
      text-align: center;
    }

    .benefits {
      padding-top: 218px;
      display: flex;
      justify-content: space-evenly;
      .benefit {
        background: $dark-blue;
        max-width: 236px;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        img {
          position: absolute;
          top: -24%;
        }

        h3 {
          color: $white-color;
          text-align: center;
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          padding-top: 82px;
        }

        p {
          color: $white-color;
          text-align: center;
          padding: 24px;
        }
      }
    }
  }
}

// section advantages

.advantages {
  margin: 160px 0 160px;

  h2 {
    color: $dark-color;
    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 64px;
  }

  .advantages-items {
    display: flex;
    justify-content: space-evenly;

    .advantage {
      max-width: 460px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .number {
        position: absolute;
        top: -30px;
        left: -25px;
      }

      h3 {
        color: $dark-color;
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.64px;
        margin-bottom: 36px;
      }

      p {
        color: $dark-blue;
        text-align: center;
      }
    }
  }
}

// section connect

.connect {
  padding: 100px 0;
  background-image: url(../images/stars.svg);

  h2 {
    color: $yellow-color;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.8px;
    text-align: center;
  }

  p {
    color: $white-color;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.64px;
    margin: 34px 0 64px;
  }

  .form {
    background-color: $white-color;
    padding: 64px 80px;
    border-radius: 30px;
    max-width: 996px;
    margin: 0 auto;
    box-sizing: border-box;

    h3 {
      color: #000;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 48px;
      text-align: center;
    }

    p {
      color: $dark-color;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      margin: 0 0 36px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;

      input,
      textarea {
        border-radius: 30px;
        border: 3px solid $yellow-color;
        background: #fffdf0;
        padding: 15px 42px 15px 36px;
        color: #747474;
        font-family: $main-font;
        font-size: 20px;
        line-height: 28px;
      }

      textarea {
        resize: none;
      }

      label {
        color: $dark-blue;
        line-height: 28px;
      }

      .submit {
        background: $yellow-color;
        color: $dark-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: none;
        padding: 20px 0;
      }
    }
  }
}

// section faq

.faq {
  padding: 100px 0;

  h2 {
    color: $dark-color;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0.8px;
    text-align: center;
    margin-bottom: 100px;
  }

  .questions {
    display: flex;
    flex-direction: column;
    gap: 64px;

    .question {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;

      h3 {
        color: $dark-color;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 24px;
        position: relative;
      }

      h3::before {
        background-color: $yellow-color;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: -70%;
        right: 15%;
        width: 539px;
        height: 68px;
        z-index: -1;
      }

      p {
        color: $dark-color;
        max-width: 540px;
      }
    }

    .reverse {
      flex-direction: row-reverse;
    }
  }
}
