body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body .background {
  background-color: #112152;
}
body .container {
  padding: 0 20px;
  max-width: 1240px;
  margin: 0 auto;
}
body button {
  color: #050424;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  width: 280px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
body p {
  font-size: 18px;
  line-height: 28px;
}
body a {
  text-decoration: none;
}

.header-tel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px;
  gap: 20px;
}
.header-tel .connection {
  display: flex;
  align-items: center;
  gap: 36px;
}
.header-tel .connection .tel-numbers {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.header-tel .connection .tel-numbers p {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.header-tel .connection .tel-numbers p a {
  color: #fff;
  padding-left: 16px;
}
.header-tel .connection button {
  background: #fff;
}

.header {
  position: relative;
  margin-bottom: 8px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.header nav a {
  color: #050424;
  font-size: 20px;
  line-height: 28px;
}
.header .header-info {
  padding-top: 120px;
  background-image: url("../images/bus.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 25px;
}
.header .header-info h1 {
  color: #112152;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 1.28px;
}
.header .header-info h1 span {
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
}
.header .header-info h1::before {
  content: "";
  position: absolute;
  height: 216px;
  top: 135px;
  right: 333px;
  width: 5987px;
  background-color: #fae12c;
  z-index: -1;
}
.header .header-info p {
  color: #050424;
  width: 457px;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.64px;
  margin: 64px 0 64px;
  line-height: normal;
}
.header .header-info button {
  background: #fae12c;
}

@media screen and (max-width: 875px) {
  .header-tel .connection p {
    justify-content: center;
  }
}
.footer {
  padding: 66px 0 46px;
  text-align: center;
}
.footer .info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.footer .info .logo-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .info .logo-button h2 {
  margin-bottom: 70px;
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.48px;
}
.footer .info .logo-button img {
  height: 100px;
  width: 100px;
}
.footer .info .logo-button button {
  background: #fae12c;
}
.footer .info nav {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.footer .info nav a {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.footer .info .social {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-right: 134px;
}
.footer p {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.cooperation {
  margin: 160px 0;
  text-align: center;
}
.cooperation h2 {
  color: #112152;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.cooperation h3 {
  color: #112152;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  padding: 100px 0 48px;
}
.cooperation .steps {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.cooperation .steps .step {
  max-width: 282px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 32px;
}
.cooperation .steps .step p {
  text-align: center;
  color: #050424;
  line-height: 28px;
}
.cooperation button {
  background: #fae12c;
  margin: 0 auto;
}

.background-benefits-cooperation {
  background-image: url(../images/Ellipse.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -18%;
}
.background-benefits-cooperation .benefits-cooperation {
  padding: 80px 0 188px;
}
.background-benefits-cooperation .benefits-cooperation h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  text-align: center;
}
.background-benefits-cooperation .benefits-cooperation .benefits {
  padding-top: 218px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 90px;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit {
  background: #112152;
  max-width: 236px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit img {
  position: absolute;
  top: -24%;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit h3 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding-top: 82px;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit p {
  color: #fff;
  text-align: center;
  padding: 24px;
}

.advantages {
  margin: 160px 0 160px;
}
.advantages h2 {
  color: #050424;
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 64px;
}
.advantages .advantages-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.advantages .advantages-items .advantage {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.advantages .advantages-items .advantage .number {
  position: absolute;
  top: -30px;
  left: -25px;
}
.advantages .advantages-items .advantage h3 {
  color: #050424;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-bottom: 36px;
}
.advantages .advantages-items .advantage p {
  color: #112152;
  text-align: center;
}

.connect {
  padding: 100px 0;
  background-image: url(../images/stars.svg);
}
.connect h2 {
  color: #fae12c;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  text-align: center;
}
.connect p {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  margin: 34px 0 64px;
}
.connect .form {
  background-color: #fff;
  padding: 64px 80px;
  border-radius: 30px;
  max-width: 996px;
  margin: 0 auto;
  box-sizing: border-box;
}
.connect .form h3 {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 48px;
  text-align: center;
}
.connect .form p {
  color: #050424;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 0 0 36px;
}
.connect .form form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.connect .form form input,
.connect .form form textarea {
  border-radius: 30px;
  border: 3px solid #fae12c;
  background: #fffdf0;
  padding: 15px 42px 15px 36px;
  color: #747474;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.connect .form form textarea {
  resize: none;
}
.connect .form form label {
  color: #112152;
  line-height: 28px;
}
.connect .form form .submit {
  background: #fae12c;
  color: #050424;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  padding: 20px 0;
}

.faq {
  padding: 100px 0;
}
.faq h2 {
  color: #050424;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 100px;
}
.faq .questions {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.faq .questions .question {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.faq .questions .question h3 {
  color: #050424;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 24px;
  position: relative;
}
.faq .questions .question h3::before {
  background-color: #fae12c;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: -70%;
  right: 15%;
  width: 539px;
  height: 68px;
  z-index: -1;
}
.faq .questions .question p {
  color: #050424;
  max-width: 540px;
}
.faq .questions .reverse {
  flex-direction: row-reverse;
}/*# sourceMappingURL=main.css.map */