body {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
body .container {
  padding: 0 20px;
  max-width: 1240px;
  margin: 0 auto;
}
body button {
  color: #050424;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  width: 280px;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.background {
  background-color: #112152;
}
.background .header-tel {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px;
}
.background .header-tel .connection {
  display: flex;
  align-items: center;
  gap: 36px;
}
.background .header-tel .connection p {
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.background .header-tel .connection p a {
  text-decoration: none;
  color: #fff;
  padding-left: 16px;
}
.background .header-tel .connection button {
  background: #fff;
}

.main {
  position: relative;
  margin-bottom: 8px;
}
.main nav {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.main nav a {
  text-decoration: none;
  color: #050424;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.main .main-info {
  padding-top: 120px;
  background-image: url("/images/bus.svg");
  background-repeat: no-repeat;
  background-position: right top -20%;
}
.main .main-info h1 {
  color: #112152;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 1.28px;
}
.main .main-info h1 span {
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
}
.main .main-info h1::before {
  content: "";
  position: absolute;
  height: 216px;
  top: 135px;
  right: 333px;
  width: 5987px;
  background-color: #fae12c;
  z-index: -1;
}
.main .main-info p {
  width: 457px;
  color: #112152;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.64px;
  margin: 64px 0 64px;
  line-height: normal;
}
.main .main-info button {
  background: #fae12c;
}

.cooperation {
  margin: 160px 0;
}
.cooperation h2 {
  color: #112152;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
}
.cooperation h3 {
  color: #112152;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  padding: 100px 0 48px;
}
.cooperation .steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.cooperation .steps .step {
  max-width: 282px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 32px;
}
.cooperation .steps .step p {
  text-align: center;
  color: #050424;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.cooperation button {
  background: #fae12c;
  margin: 0 auto;
}

.background-benefits-cooperation {
  background-color: #112152;
  background-image: url(/images/Ellipse.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -18%;
}
.background-benefits-cooperation .benefits-cooperation {
  padding: 80px 0 188px;
}
.background-benefits-cooperation .benefits-cooperation h2 {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  text-align: center;
}
.background-benefits-cooperation .benefits-cooperation .benefits {
  padding-top: 218px;
  display: flex;
  justify-content: space-evenly;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit {
  max-width: 236px;
  border-radius: 20px;
  background: #112152;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit img {
  position: absolute;
  top: -24%;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit h3 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding-top: 82px;
}
.background-benefits-cooperation .benefits-cooperation .benefits .benefit p {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 24px;
}

.advantages {
  margin: 160px 0 160px;
}
.advantages h2 {
  color: #050424;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0.8px;
  text-align: center;
  margin-bottom: 64px;
}
.advantages .advantages-items {
  display: flex;
  justify-content: space-evenly;
}
.advantages .advantages-items .advantage {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.advantages .advantages-items .advantage .number {
  position: absolute;
  top: -70px;
}
.advantages .advantages-items .advantage h3 {
  color: #050424;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
  margin-bottom: 36px;
}
.advantages .advantages-items .advantage p {
  color: #112152;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}/*# sourceMappingURL=main.css.map */